@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap');

// fonts

$font: 'Roboto', 'sans-serif';  

// font-size
$text-size: 10px;
$title-size: 16pt;