@import "/src/styles/cardStyles.scss";
@import "/src/styles/estilosGlobais.scss";
.container {
  display: flex;
  margin: 30px;

  .card_user {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.616);
    padding: 20px;
    border-radius: 15px;
    width: 30rem;
    height: 600px;

    img {
      //padding: 25px;
      //display: flex;
      //align-items: center;
      //margin: auto;
      border-radius: 45px;
    }
    .content {
      margin-left: 2.5rem;
      font-size: 12pt;

      h1 {
        font-size: 16pt;
        margin: 0;
      }
      h2 {
        margin: 0 0 5px;
        font-size: 13pt;
        color: #3876be;
      }
      .bar_colored {
        height: 8px;
        background: linear-gradient(90deg, (#3876be) 20%, (#9331eb));
        border-radius: 15px;
        width: 265px;
      }

      .followers {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;

        h3 {
          max-width: 180px;
          margin-left: 12px;
          font-size: 9pt;
        }

        :nth-child(3) {
          margin-left: 35px;
        }
      }

      h4 {
        display: flex;
        align-items: center;
        margin-top: 0;

        p {
          max-width: 180px;
          font-size: 9pt;
          margin-left: 15px;
        }

        img {
          padding: 0;
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .cards {
    .card_repository {
      @include card-style;
      width: 60vw;
      text-align: center;

      margin: 0 15px 25px;
    }
    button {
      @include button-style;
      @include button-more;
    }
  }
}

@media (min-width: 360px) {
  .container {
    margin: 30px;
    display: block;
    .card_user {
      width: 90%;
      height: 500px;

      img {
        margin: 15px 45px 0 45px;
      }

      .content {

        .bar_colored {
          width: 190px;
        }

        .followers {
          h3 {
            margin-left: 10px;
          }
        }
        h4 {
          p {
            max-width: 170px;
            margin-left: 10px;
          }
        }
      }
      }



    .cards {


      .card_repository {
        width: 90%;
        margin: 0;
        margin-top: 50px;

        h1 {
          font-size: 13pt;
          
        }

        h2 {
          font-size: 11pt;
        }
      }
    }

  }
}

@media (min-width: 720px) {
  .container {
    display: flex;

    .card_user {

      img {
        display: block;
        text-align: center;
        margin: 0;
        margin-left: 35px;
        padding: 15px;
      }
      
      margin: 0;

      width: 50%;
      .content {

        h1 {
          font-size: 14pt;
        }
        h2 {
          margin-right: 80px;
        }
        .bar_colored {
          width: 13rem;
        }
      }
    }

    .cards {

      .card_repository {
        margin: 0 0 15px 15px;
      }
    }

  }
}

@media (min-width: 1024px) {
  .container {
    .card_user {
      width: 35%;
    }
    .cards {

      .card_repository {
        width: 55vw;
      }
    }
  }
}

@media (min-width: 1440px) {
  .container {
    .card_user {
    
      img {
        margin-left: 27px;
      }
    }
    .cards {
      .card_repository {
        width: 70vw;
      }
    }
  }
}

@media (min-width: 1920px) {
  .container {
    .card_user {
      width: 15%;
    }

    .cards {
      .card_repository {
        width: 80vw;
      }
    }
  }
}