@import "/src/styles/cardStyles.scss";
@import "/src/styles/globalStyles.scss";
@import "/src/styles/variables";
.container {
  .card_user {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.616);
    padding: 20px;
    border-radius: 15px;
    height: 500px;

    .content {
      img {
        border-radius: 45px;
        margin-bottom: 15px;
      }

      h1 {
        margin: 0;
        font-size: $title-size;
      }

      h2 {
        margin: 0 0 5px;
        color: #3876be;
        font-size: $title-size / 1.2;
      }

      .bar_colored {
        height: 8px;
        background: linear-gradient(90deg, (#3876be) 20%, (#9331eb));
        border-radius: 15px;
        width: 265px;
      }

      .followers {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;

        h3 {
          margin-left: 10px;
          font-size: calc($title-size / 1.5);
        }

        :nth-child(3) {
          margin-left: 35px;
        }
      }

      h4 {
        display: flex;
        align-items: center;
        margin-top: 0;

        p {
          max-width: 180px;
          font-size: calc($title-size / 1.5);
          margin-left: 10px;
        }

        img {
          padding: 0;
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .cards {
    .card_repository {
      @include card-style;
      text-align: center;

      h1 {
        font-size: calc($title-size / 1.2);
      }
      h2 {
        font-size: calc($text-size * 1.2);
      }
    }
    button {
      @include button-style;
      @include button-more;
      margin-top: 30px;
    }
  }
}

@media (min-width: 360px) {
  .container {
    margin: 30px;
    display: block;
    .card_user {
      width: 90%;

      img {
        display: flex;
        justify-content: center;
        margin-left: 30px;
      }
    }

    .cards {
      .card_repository {
        width: 90%;
        margin: 0;
        margin-top: 50px;
      }
    }
  }
}

@media (min-width: 414px) {
  .container {
    .card_user {
      .content {
        margin-left: 25px;
      }
    }
  }
}

@media (min-width: 700px) {
  .container {
    display: flex;

    .card_user {
      width: 50%;
    }

    .cards {
      .card_repository {
        margin: 0 0 15px 15px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    .card_user {
      width: 35%;
    }
    .cards {
      .card_repository {
        width: 55vw;
      }
    }
  }
}

@media (min-width: 1440px) {
  .container {
    .cards {
      .card_repository {
        width: 68vw;
      }
    }
  }
}

@media (min-width: 1920px) {
  .container {
    .card_user {
      width: 17%;
    }

    .cards {
      .card_repository {
        width: 80vw;
      }
    }
  }
}
