@import 'styles/globalStyles.scss';

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
    text-align: center;
    .content {
        img {
            width: 120px;
        }
        //font-family: $fonte;
        padding: 20px;
        border-radius: 15px;
        background-color: #282c34;
        max-width: 20vw;
        color: white;
        button {
            @include button-style;
            background-color: red;
            &:hover {
                background-color: black;
            }
        }
    }
}