@import '/src/styles/cardStyles.scss';
@import '/src/styles/estilosGlobais.scss';

.container {
    margin-top: 2rem;
    .repositories {
        @include card-style;
        .favorites {
            display: flex;
            align-items: center;
            p {
                padding-left: 5px;
            }
        }
    }
    button {
        @include button-style;
        @include button-more;
    }
}