@import "styles/globalStyles.scss";

.container {
  margin-top: 2rem;
  .users {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.616);
    border-radius: 15px;
    margin: 20px;
    h1 {
      margin: 20px;
     //word-wrap: break-word;
    }
    img {
      margin: 20px;
      border-radius: 15px;
    }
  }

  button {
    @include button-style;
    @include button-more;
  }
}

@media (min-width: 700px) {
  .container {
    .users {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }
}