@import "/src/styles/estilosGlobais.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: flex;


  flex-direction: column;
  button {
    cursor: pointer;
  }
  .buttons {
    button {
      @include button-style;
    }
    .selectedButton {
      background-color: #7a33ff;
    }
  }
  img {
    width: 200px;
  }
}
