@import "/src/styles/estilosGlobais.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: flex;


  flex-direction: column;
  button {
    cursor: pointer;
  }
  .buttons {
    button {
      color: white;
      background-color: #3876be;
      border: none;
      border-radius: 50px;
      width: 10em;
      height: 3em;
      margin: 0 2px;
      font-family: $fonte;
    }
    .selectedButton {
      background-color: #7a33ff;
    }
  }
  img {
    width: 200px;
  }
}
